body {
    background-position: center;
background-image: url(img_car.jpg);

}
h1 {
    text-align: center;
    color: rgb(10, 12, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.form {
    opacity: 0.9;
    border-radius: 5px;
    top: 70px;
    padding: 15px 0 5px 15px;
    margin-right: auto;
    display: block;
    margin-left: auto;
    background-color: rgb(241, 242, 243);
    border-style: none;
    width: 50%;
}

.btn {
    text-align: center;
    background-color: #04AA6D;
    color: white;
    padding-right: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 70px;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select  {
            width: 35%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 1px;
            box-sizing: border-box;
            margin-top: 5px;
            margin-left: 10px;
 }

input[type=number] {
            width: 35%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 5px;
            margin-left: 10px;
}

